// base styles

html {
//  font-size: $base-font-size;
//   font-size: $html-font-size; // 62.5% (so 1.4rem === 14px)
  font-family: sans-serif;
}

body {
  line-height: $base-line-height;
  font-size: $base-font-size; // equals 16px
  font-family: $base-font-family;
//  background-color: #FFF;
  color: $base-ui-color;
}

// Base Style
//
// Styleguide 2.0

// Text style
//
// Styleguide 2.1
p:not(:last-child),
.p:not(:last-child) {
  margin-bottom: 8px;
}


// Links
//
// TODO: underlined or bold?
//
// Styleguide 2.2
a, a:visited {
  color: inherit;
  text-decoration: none;
}

// Lists
//
// Styleguide 2.3
ul {
  margin-bottom: 15px;
  list-style: none;

  &.list {
    padding-left: 30px;
    list-style-type: square;
  }

  &.is-vertical {
    float: left;
  }
}




// Animation
//
// TODO: is considered as not so good
//
// Styleguide 4.0
.has-animation,
.has-animation::after,
.has-animation::before {
  @include vendor(transition, 0.5s ease-in-out);
}
