@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  src: url(//chayns1.tobit.com/SlitteRessource/API/Styles/Font/RobotoLight.woff) format('woff'), url(../Font/RobotoLight.ttf) format('truetype'), url(../Font/RobotoLight.svg) format('svg');
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: normal;
  src: url(//chayns1.tobit.com/SlitteRessource/API/Styles/Font/RobotoLightItalic.woff) format('woff'), url(../Font/RobotoLightItalic.ttf) format('truetype'), url(../Font/RobotoLightItalic.svg) format('svg');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  src: url(//chayns1.tobit.com/SlitteRessource/API/Styles/Font/RobotoMedium.woff) format('woff'), url(../Font/RobotoMedium.ttf) format('truetype'), url(../Font/RobotoMedium.svg) format('svg');
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: bold;
  src: url(//chayns1.tobit.com/SlitteRessource/API/Styles/Font/RobotoMediumItalic.woff) format('woff'), url(../Font/RobotoMediumItalic.ttf) format('truetype'), url(../Font/RobotoMediumItalic.svg) format('svg');
}