// Main Styles

html {
  font-size: $base-font-size; // old: * 1em to display in ems
  line-height: $base-line-height / $base-font-size;
  overflow-y: scroll;
  min-height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-family: $base-font-family;
  //  -moz-osx-font-smoothing: grayscale;
//  -webkit-font-smoothing: antialiased; // more consistent fonts on OSX (sub-pixel anti-a)
  //  background-color: $base-background-color; // don't override any color
  //  color: $base-text-color;
}

[chayns-cloak],
.chayns-cloak {
  visibility: hidden;
}

// Base Style
//
// Styleguide 2.0

// Text style
//
// Styleguide 2.1

// paragraph style
.p:not(:last-child),
.paragraph {
  margin-bottom: $base-line-height;
}

