// base styles

body {
   background-color: #FFFFFF;
   color: #545454;
   font-size: 14px;
   font-family: Tahoma, "Lucida Grande", Arial;
   line-height: 23px;
   visibility: hidden;
   padding-bottom: 20px;
}

