// Main Styles

//html {
//  //font-size: $base-font-size;
//  //font-size: $html-font-size; // 62.5% (so 1.4rem === 14px)
//  //font:#{($base-font-size/16px)*1em}/#{$line-height-ratio} $base-font-family;
//  overflow-y:scroll;
//  min-height:100%;
//  font-family: sans-serif;
//}

html {
  font-size: $base-font-size / 16px; // old: * 1em to display in ems
  line-height: $base-line-height / $base-font-size;
//  background-color: $base-background-color;
//  color: $base-text-color;
  overflow-y: scroll;
  min-height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
//  -moz-osx-font-smoothing: grayscale;
//  -webkit-font-smoothing: antialiased; // more consistent fonts on OSX (sub-pixel anti-a)
  font-family: $base-font-family;
}

body {

}

[chayns-cloak],
chayns-cloak {
  visibility: hidden;
}


// Base Style
//
// Styleguide 2.0

// Text style
//
// Styleguide 2.1

// paragraph style
.p:not(:last-child),
.paragraph {
  margin-bottom: $base-line-height;
}

