// base styles

html {
//  font-size: $base-font-size;
//   font-size: $html-font-size; // 62.5% (so 1.4rem === 14px)
  font-family: sans-serif;
}

body {
  line-height: $base-line-height;
  font-size: $base-font-size; // equals 16px
  font-family: $base-font-family;
//  background-color: #FFF;
  color: $base-ui-color;
}

// TODO: move out styles below
// text style
p:not(:last-child),
.p:not(:last-child) {
  margin-bottom: 8px;
}

// animation TODO: is considered as not so good
.has-animation,
.has-animation::after,
.has-animation::before {
  @include vendor(transition, 0.5s ease-in-out);
}

// links
// TODO: underlined or bold?
a, a:visited {
  color: inherit;
  text-decoration: none;
}

// lists
ul {
  margin-bottom: 15px;
  list-style: none;

  &.list {
    padding-left: 30px;
    list-style-type: square;
  }

  &.is-vertical {
    float: left;
  }
}



// Tapp Base Layout to start a new Tapp
//
.tapp {
  margin: auto 0;
  padding: 15px 10px 20px 10px;
  width: 100%;
  max-width: $tapp-max-width;
}

// Wide Tapp: larger layout for popup tapps with max 850px
.tapp--wide {
  max-width: $tapp-popup-width;
}

// Tapp Intro & Tapp Content
//
// .is-dark - Dark background with padding to emphasize content
.tapp__intro,
.tapp__content{
  margin-bottom: 12px;

  &.is-dark {
    padding: 12px; // padding due to different background color
    background: #F2F2F2;
  }
}

// Tapp Intro used for intro text
.tapp__intro {
  margin-bottom: 30px;
}

