// ice
.chayns-color--0 {
  .headline {
    color: #37913C;
  }

  a,
  a:visited {
    border-bottom: 1px solid #37913C;
  }
}

.chayns-color--4 {

  .headline {
    color: #0055A4;
  }

  a,
  a:visited {
    border-bottom: 1px solid #0055A4;
  }

}
