// TODO: consider base, generic and objects structure
// base configuration

$global-border-box: true!default;

//$html-font-size:    62.5%;
$base-font-size:    14px!default; // equals 16px
$base-line-height:  24px!default;

//$tobit-font-family:  Tahoma, "Lucida Grande", Arial, sans-serif!default;
$base-font-family:  'Roboto', sans-serif!default;

$base-text-color:   #545454!default;
$base-background-color: #fff;
$base-link-color:    #000;

$base-spacing-unit: $base-line-height;

// font sizes
$h1-size:           24px!default; // .alpha
$h2-size:           20px!default; // .beta
$h3-size:           16px!default; // .gamma
$h4-size:           14px!default; // .delta
$h5-size:           12px!default; // .epsilon
//$h6-size:           10px!default; // .epsilon
// would continue with 10, or 36, 48, 72, 96

// tapps
$tapp-popup-width:  850px;
$tapp-max-width:    600px;

// Mr Grey is expecting you
$grey:              #6E6E6E;
$lighter-grey:      #8A8A8A;


$breakpoints: (
  "mobile"        "screen and (max-width: 37.438em)", // less than 600px
  "desktop"       "screen and (min-width: 37.5em)", // more than 600px; could:  and (max-width: 63.9375em)
//  "portable"      "screen and (max-width: 63.9375em)",
  "desk"          "screen and (min-width: 53.125em)", // more than 850px
  "retina"        "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx)"
) !default;
