*{
  &,
  &:before,
  &:after{
    @include vendor(box-sizing, border-box);
  }
}


h1,h2,h3,h4,h5,h6,
p,blockquote,pre,
dl,dd,ol,ul,
form,fieldset,legend,
table,th,td,caption,
hr{
  margin:0;
  padding:0;
}

img{
  font-style:italic;
}

label,
//input,
textarea,
button,
select,
option{
  cursor:pointer;
}

// always hide it
input:active,
input:focus,
button,
textarea:active,
textarea:focus{
  cursor:text;
  outline:none;
}

button {
  border:0;
}
