// all headline styles
// TODO: consider removing tag styles and only keep classes

h1, .h1 {
   font-size: 24px;
   font-weight: normal;
   line-height: 29px;
   margin-bottom: 10px;
   color: #6E6E6E; 
}

h2, .h2 {
   font-size: 19px;
   font-weight: normal;
   line-height: 24px;
   margin-bottom: 10px;
   color: #6E6E6E; 
}

h3, .h3 {
   font-size: 17px;
   font-weight: normal;
   line-height: 22px;
   margin-bottom: 10px;
   color: #6E6E6E; 
}

h4, .h4 {
   font-size: 13px;
   font-weight: normal;
   line-height: 18px;
   margin-bottom: 10px;
   color: #8A8A8A;
}
