// Tapps: Main Layout
//
// Styleguide 1.0

// Tapp Base Layout to start a new Tapp
//
// Styleguide 1.1
.tapp {
  margin: 0 auto;
  padding: 15px 10px 20px;
  width: 100%;
  max-width: $tapp-max-width;
}

.tapp--no-padding {
  padding: 0!important; // has to overwrite eventual media queries
}

// Wide Tapp: larger layout for popup tapps with max 850px
//
// Styleguide 1.2
.tapp--wide {
  max-width: $tapp-popup-width;
}

// Tapp Intro & Tapp Content
//
// .is-dark - Dark background with padding to emphasize content
//
// Styleguide 1.3
.tapp__intro,
.tapp__content{
  margin-bottom: 12px;

  &.is-dark {
    padding: 12px; // padding due to different background color
    background: #F2F2F2;
    //overflow: hidden;// TODO: test if required
  }
}

// Tapp Intro used for intro text
//
// Styleguide 1.4
.tapp__intro {
  margin-bottom: 30px;
}


.chayns--desktop {

  overflow: hidden; // prevents scrolling for chayns web

  body {
    overflow: hidden;
  }

}

// TODO: fix mq
@include media-query(desktop)  {

  // TODO: can be removed since Roboto is the main font
//  body {
//    font-family: 'Roboto';
//  }

  .tapp {
    padding: 50px 60px 30px 60px;
  }

  .tapp__intro,
  .tapp__content {
    margin-bottom: 40px;

    &.is-dark {
      padding: 25px; // padding due to different background color
    }
  }

}
