// all heading styles

@mixin headline($font-size, $bottom-margin:10px) {
  margin: 0 0 $bottom-margin 0;
  font-weight: normal;
  @include font-size($font-size);
}

@for $i from 1 through 5  {
  h#{$i},
  .h#{$i} {
    $size: map_get($headline-sizes, $i);
    @include headline($size);
  }
}


@each $color-scheme in $color-schemes {
  $scheme: nth($color-scheme, 1);
  $name: nth($color-scheme, 2);
  $color: nth($color-scheme, 3);

  .chayns-color--#{$scheme} {

     h1,
    .h1,
     h3,
    .h3 {
      color: $color;
    }

    h2,
    .h2 {
      color: mix($color, white, 90%);
    }

    h4,
    .h4 {
      color: mix($color, white, 80%);
    }

    h5,
    .h5 {
      color: mix($color, white, 60%);
    }

  }
}
