
.FixedBox {
  background-color: Transparent;
  margin: 0 0 12px 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.AdminBox {
  background-image: url(//chayns1.tobit.com/SlitteRessource/Images/Chayns/stripe.gif);
  background-repeat: repeat-x;
  padding-top: 15px;
}

.FBConnectDialog {
  color: #627aad;
  background-image: url('//chayns1.tobit.com/SlitteRessource/Images/facebook.png');
  background-repeat: no-repeat;
  background-size: 17px 17px;
  background-position: 10px 13px;
  background-color: #e7ebf2 !important;
  padding: 12px 10px 9px 36px;
}
